//colors
$primary-color: #0282f9;
$text-color: #d5effe;

// header 
$bg-header: #ffffff;
$text-header:#545e62;
$darkText-header:#16191b;

//main
$bg-main: #1C1C1C;

//footer
$bg-footer: #303030;
$text-footer: #60757c;